body {
	margin: 0px auto;
	background-color: #d7d7d7;
}
#container {
	width: 960px;
	margin: 0px auto;
	padding-top: 50px;
	text-align: left;
}
#paragraphs {
	border: 1px solid black;
}
#inputForm {
	width: 400px;
	text-align: center;
	border: 1px solid black;
	border-radius: 25px;
	margin: 0px auto;
}
#output {
	min-height: 300px;
	min-width: 500px;
	max-width: 800px;
	border: 1px solid white;
	margin: 0px auto;
}